@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");

body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: "Baskervville SC", serif;
  background-color: #0d0c11;
  color: rgb(217, 219, 221);
  border: 1px rgb(79, 81, 83) dashed;
  height: 100%;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #0a0a0a;
}

body::-webkit-scrollbar-thumb {
  background-color: #484747;
  border-radius: 20px;
  border: none;
}
.icon {
  max-width: 40px;
}

hr {
  border: 1px rgb(79, 81, 83) dashed;
}

.navbar {
  padding: 0.5rem;
  background-color: #f5f6f7;
  border-bottom: 1px rgb(79, 81, 83) dashed;
}

.navbar-nav {
  flex-direction: row-reverse;
}
.hero-mi-imagen-de-perfil {
  max-width: 500px;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

.historia {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.text {
  text-align: justify;
  padding: 1.5vh;
  font-size: 17px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
}

.hero {
  /*background-color: #f5f6f7;*/
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}


.hero-mi-imagen-de-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
}
.seccion-oscura {
  background-color: rgb(9, 9, 69);
  width: 95vw;
  margin: auto;
  padding: 10px;
}

.linea-personajes {
  border: 1px solid white;
  width: 20vw;
  margin: auto;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.imgbajo {
  max-width: 20vw;
  margin: auto;
  padding: 2vw;
}

